.label {
  border-radius: 0;
}

.label-primary {
  background: $and-red;
}

.label-info {
  background: $primary-light;
}

.label-success {
  background: $and-green;
}

.label-warning {
  background: $and-yellow;
}

.label-danger {
  background: $and-red;
}